#blinds-cont {
	background: url(bg.png) 0 0 no-repeat;
	width: 902px;
	height: 385px;
	margin: 20px auto;
	padding: 1px 0 0 0;
	-moz-box-shadow: 0 0 25px #000;
	-webkit-box-shadow: 0 0 25px #000;
	font-family: tahoma, arial, "times New Roman";
}

#blinds {
	height: 300px;
	width: 900px;
	margin: 0 auto;
	background: url(spinner.gif) 50% no-repeat;
}

.floom_container {
	overflow: hidden;
	border-bottom: solid 1px #fff;
}

.floom_progressbar {
	height: 3px;
	background: #0c6aa0;
	width: 0;
	position: relative;
	top: 2px;
	z-index: 1000;
	border-bottom: solid 1px #fff;
	font-size: 1px;
}

.floom_slice {
	z-index: 10;
	position: relative;
}

	
.floom_vertical {
	float: left;
}

.floom_horizontal {
	
}

.floom_caption {
	width: 100%;
	position: relative;
	top: 10px;
	text-align: center;
	font-size: 1.0em;
	color: #333;
	text-shadow: 0 1px 0 #fff;
/*	font-style: italic;*/
}